/* General Page Layout */
body {
  background-color: #ffffff;
  font-family: "Times New Roman", serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #602740;
  color: white;
  padding: 15px 40px;
  display: flex;
  align-items: center;
}

.nav-left a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.nav-left img {
  height: 50px;
  margin-right: 10px;
}

/* Back Button */
.back-btn {
  display: inline-block;
  margin: 30px 50px;
  background-color: #602740;
  color: #fff;
  padding: 10px 25px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.back-btn:hover {
  background-color: #4c1e33;
}

/* Center Box */
.forgot-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-card {
  position: relative;
  background-color: #7b2e4d;
  border-radius: 6px;
  padding: 60px 50px 40px 50px;
  width: 350px;
  text-align: center;
  color: #fff;
}

/* Circle on top */
.circle {
  background-color: #602740;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

/* Input Fields */
.input-box {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin: 15px 0;
  border-radius: 4px;
  overflow: hidden;
}

.icon {
  padding: 10px;
  background-color: #e389bd;
}

input {
  border: none;
  outline: none;
  padding: 10px;
  flex: 1;
  font-size: 16px;
  font-family: "Times New Roman", serif;
}

/* Button */
.confirm-btn {
  margin-top: 20px;
  background-color: #602740;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Times New Roman", serif;
}
.confirm-btn:hover {
  background-color: #e389bd;
}

/* Footer */
footer {
  background-color: #602740;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.logo-footer img {
  height: 100px;
  width: auto;
  margin-bottom: 10px;
}
